# Database
DB_NAME=paf
DB_USERNAME=postgres
DB_PASSWORD=root

# Authentication
JWT_SECRET=your_jwt_secret_key_should_be_long_and_secure
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
